env
./env

media
./media

.env
/.env
./.env

firebaeServiceAcc.json
./firebaeServiceAcc.json

firebaeServiceAccbkp.json
./firebaeServiceAccbkp.json

db.sqlite3
*.sqlite3
./db.sqlite3

dump.rdb

# Ignore __pycache__ and migrations for all apps
dak_exchange/__pycache__/

dak_sih/__pycache__/

dashboard/__pycache__/

forum/__pycache__/

philatelist/__pycache__/

services/__pycache__/

store/__pycache__/
