Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pillow
six
django-redis
celery[redis]
django-redis
python-dotenv
drf-spectacular
django-tinymce

pandas
numpy
holidays
scikit-learn
scipy
seaborn
google-generativeai
nltk

firebase_admin